<div class="margin-login clearfix">
  <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-sm-offset-3 col-xs-offset-1 clearfix"> <img class="img-responsive center-block" alt="logo" src="img/logo.png">
    <div class="backlogin clearfix">
      <div class="paddingg">
        <h1 class="h1login">Congrats!</h1>
        <p class="plogins">Your account has been successfully created.</p>
        <div class="margin">
         <p>An email containing your credentails with a digital certificate attached, has been sent to your email Id, you can login using those credentails.</p>
        </div>
      </div>
      <div class="border paddingg"> <a href="#" class="forgotps">You can </a><span><a class="registera" href="#"> Login here </a></span> </div>
    </div>
  </div>
</div>