<div class="margin-login clearfix">
  <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 clearfix"> <img class="img-responsive center-block" alt="logo" src="img/logo.png">
    <div class="backlogin clearfix">
      <form id="resgistration">
        <div class="padding clearfix">
          <h1 class="h1login">Register</h1>
          <p class="plogins">Please fill the registration form below to get registered.</p>
          <div class="margintp">
            <div class="col-md-4 col-sm-4 paddingl-none clearfix">
              <div class="form-group formdesg">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" class="form-control" id="" name="fm" required placeholder="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 clearfix">
              <div class="form-group formdesg">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="text" class="form-control" id="" name="lm" required placeholder="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 paddingnr-none clearfix">
              <div class="form-group formdesg">
                <label for="exampleInputEmail1">Plant Name</label>
                <input type="text" class="form-control" id="" name="pm" required placeholder="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 paddingl-none clearfix">
              <div class="form-group formdesg">
                <label for="exampleInputEmail1">Department</label>
                <input type="text" class="form-control" id="" name="dp" placeholder="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 clearfix">
              <div class="form-group formdesg">
                <label for="exampleInputEmail1">Designation</label>
                <input type="text" class="form-control" id="" name="desg" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="border clearfix">
          <div class="col-md-8 col-sm-8 padding margin-lyte clearfix"> <a href="#" class="forgotps">Already have an account? </a><span><a class="registera" href="#"> Login now </a></span></div>
          <div class="col-md-4 col-sm-4 padding text-right clearfix">
            <button type="submit" class="btn btn-design">Next</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>