

<div class="col-md-12 co-sm-12 bodytag clearfix">
    <div class="clearfix">
      <div class="col-lg-8 col-md-12 col-sm-12 paddingnone">
        <div class="col-md-4 col-sm-4 clearfix" ng-click="regionClick()">
          <div class="right padding"> <span class="plogins">NO. OF REGIONS</span> <a class="pull-right registera">View Regions</a>
            <h1 class="h1large">596</h1>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 clearfix" ng-click="plantClick()">
          <div class="right padding"> <span class="plogins">NO. OF PLANTS</span> <a class="pull-right registera">View Plants</a>
            <h1 class="h1large">1225</h1>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 clearfix" ng-click="userClick()">
          <div class="right padding"> <span class="plogins">NO. OF USERS</span> <a class="pull-right registera">View Users</a>
            <h1 class="h1large">1512</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 clearfix">
        <div class="right padding">
          <p class="psearch">Search</p>
          <div class="marginsearch clearfix">
            <form role="search">
              <div class="form-group col-md-10 paddingl-none col-xs-10">
                <input type="text" class="form-control" placeholder="Search Plant Name / Plant ID / User Id">
              </div>
              <div class="col-md-2 col-xs-2 paddingnone clearfix">
                <button class="btn btn-default btn-search" type="submit">Go</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="right bt-marginlr clearfix">
      <div class="padding clearfix">
        <h1 class="h1login">New users</h1>
        <p class="plogins">The below are the details for the new users created.</p>
      </div>
      <div class="borders paddingtp table-responsive dashboard-grid">
         <div id="grid1" ui-grid="gridOptions" ui-grid-pagination style="height:300px;"></div>

      </div>
    </div>
    <!-- <div class="col-lg-12 col-md-12 paddingnone clearfix">
      <div class="col-lg-4 col-md-6 pull-right clearfix">
        <div class="pull-right paddingnone clearfix">
          <nav class="text-right">
            <ul class="pagination marginone">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">250</a></li>
            </ul>
          </nav>
        </div>
      </div> -->
     <!--  <div class="col-lg-4 col-md-6 pull-right clearfix">
        <ul class="list-unstyled list-inline text-right">
          <li class="spanpa" >Records per page</li>
          <li >
            <select class="selectpicker spanpa" data-width="70">
              <option>2</option>
              <option>5</option>
              <option>7</option>
            </select>
          </li>
        </ul>
      </div> -->
    </div>
</div>
</div>
