


<div class="col-md-12 co-sm-12 bodytag clearfix">
<div class="col-md-12 col-sm-12 margintps" ng-if="adminUser">
      <ul class="list-inline bredcm">
        <li><a href="#">Dashboard </a></li>
        <li><a>></a></li>
      </ul>
    </div>
  <div class="col-md-12 col-sm-12 margintps" ng-if="!userDetails" style="text-align:center;font-size:20px;">
      Sorry user data not available. Please Contact your administrator...
  </div>
  <div class="col-md-3 col-sm-4 clearfix" ng-if="userDetails">
    <div class="left">
      <h1 class="h1login">Plant Info</h1>
      <p class="plogins">Plant info entered while registering with RT-DAS</p>
      <div class="clearfix">
        <div class="col-md-6 col-sm-6 margin paddingnone ">
          <p class="leftp">DAS Name</p>
          <a class="leftsmallp" ng-bind="userDetails.dasName ? userDetails.dasName : 'NA'">Silver DAS</a> </div>
        <div class="col-md-6 col-sm-6 margin paddingnone ">
          <p class="leftp" >IP Address of DAS</p>
          <a class="leftsmallp" ng-bind="userDetails.dasIpAddress ? userDetails.dasIpAddress : 'NA'">192.168.1.1</a> </div>
        <div class="col-md-6 col-sm-6 margin-lite paddingnone ">
          <p class="leftp">MAC Address of DAS</p>
          <a class="leftsmallp" ng-bind="userDetails.dasMacAddress ? userDetails.dasMacAddress : 'NA'">255.168.2.0</a> </div>
      </div>
      <div class="border margin clearfix">
        <div class="col-md-6 col-sm-6 margin paddingnone ">
          <p class="leftp">User ID</p>
          <a class="leftsmallp" ng-bind="userDetails.userId ? userDetails.userId : 'NA'">navneet19</a> </div>
        <div class="col-md-6 col-sm-6 margin paddingnone ">
          <p class="leftp">Plant ID</p>
          <a class="leftsmallp" ng-bind="userDetails.plantId ? userDetails.plantId : 'NA'">#980283</a> </div>
        <div class="col-md-6 col-sm-6 margin-lite paddingnone ">
          <p class="leftp">Plant Name</p>
          <a class="leftsmallp" ng-bind="userDetails.plantName ? userDetails.plantName : 'NA'">Nirmal Indo power Plant</a> </div>
        <div class="col-md-6 col-sm-6 margin-lite paddingnone ">
          <p class="leftp">Zone</p>
          <a class="leftsmallp" ng-bind="userDetails.zoneName ? userDetails.zoneName : 'NA'">Nirmal</a> </div>
      </div>
    </div>
    <div class="lefts"  ng-if="adminUser">
    <div class="paddings">
      <h1 class="h1login">Plant Users</h1>
      <p class="plogins">Below are thr users attached to the plant</p>
      <div class="clearfix">
        <div class="col-md-10 col-sm-12 margin-lyte paddingnone ">
        <input type="text" class="form-control" placeholder="Search User ID">
        </div>
      </div>
      
    </div>
    <div class="margin clearfix">
        <div class="list-group">
  <a class="list-group-item green-active" href="#"><i class="fa fa-caret-right"></i>&nbsp; Navneet19 <i class="fa fa-times pull-right"></i></a>
  <a class="list-group-item no-active" href="#">vijay912 <i class="fa fa-times pull-right"></i></a>
 
</div>
      </div>
      </div>
      <div class="col-md-6 col-sm-6 paddingnone pull-right" ng-if="adminUser">
      <button class="btn btn-upload btn-block marginbtm">Add New User</button>
      </div>
  </div>
  <div class="col-md-9 col-sm-8 clearfix" ng-if="userDetails && plantDetails">
    <form>
      <div class="right clearfix">
        <div class="padding clearfix">
          <h1 class="h1login" ng-bind="adminUser?'Upload Data' : 'Station Details'"></h1>
          <p class="plogins">Please fill the below form to add station details.</p>
        </div>
        <div class="borders clearfix">
          <div class="col-md-6 col-sm-6 plleft">
            <p class="plogins">Current number of stations in the plant.</p>
            <div class="form-group col-md-4 col-xs-4 widfull text-center formdesg2">
              <label>No. of Stacks</label>
              <h4>2</h4>
            </div>
            <div class="form-group col-md-4 col-xs-4 widfull formdesg2 text-center ">
              <label>No. of CEMS</label>
              <h4>2</h4>
            </div>
            <div class="form-group col-md-4 col-xs-4 widfull formdesg2 text-center ">
              <label>No. of EQMS</label>
             <h4>0</h4>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 plright">
            <p class="plogins">Number of stations planning to connect in future.</p>
            <div class="form-group col-md-4 col-xs-4 widfull formdesg2 text-center ">
              <label>No. of Stacks</label>
              <h4>0</h4>
            </div>
            <div class="form-group col-md-4 col-xs-4 widfull formdesg2 text-center ">
              <label>No. of CEMS</label>
             <h4>0</h4>
            </div>
            <div class="form-group col-md-4 col-xs-4 widfull formdesg2 text-center ">
              <label>No. of EQMS</label>
              <h4>0</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="right clearfix">
        <div class="paddingtp table-responsive">
          <table class="table tabledesg">
            <thead>
              <tr>
                <th> Station Type </th>
                <th> Parameter Name </th>
                <th> Unit </th>
                <th> Low Range </th>
                <th> High Range </th>
                <th> Nomenclature </th>
                <th> Location </th>
                <th> Attached to </th>
                <th> Output </th>
              
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="plant in plantDetails">
                <td ng-bind="plant.stationType ? plant.stationType : 'NA'"></td>
                <td ng-bind="plant.parameters ? plant.parameters : 'NA'"></td>
                <td ng-bind="plant.status ? plant.status : 'NA'">Mg/m3</td>
                <td ng-bind="plant.parameters ? plant.parameters : 'NA'">0</td>
                <td ng-bind="plant.parameters ? plant.parameters : 'NA'">1000</td>
                <td ng-bind="plant.parameters ? plant.parameters : 'NA'">Stack 1</td>
                <td ng-bind="plant.location ? plant.location : 'NA'">Near Gate</td>
                <td ng-bind="plant.gprsDeviceId ? plant.gprsDeviceId : 'NA'">Coke Oven</td>
                <td ng-bind="plant.parameters ? plant.parameters : 'NA'">RS232</td>
              
              </tr>
            </tbody>
          </table>
          <!-- <div id="grid1" ui-grid="gridOptions" ui-grid-pagination style="height:300px;"></div> -->
        </div>
      </div>
      <div class="col-md-12 col-sm-12 paddingnone text-right marginbtm clearfix">
        <button class="btn btn-modify" ng-if="adminUser">Stop</button>
        <button class="btn btn-modify" ng-if="adminUser">Upload</button>
        <button class="btn btn-modify" ng-click="enableModify=!enableModify">Modify</button>&nbsp;&nbsp;
       
      </div>
      <div class="right clearfix" ng-show="enableModify">
        <div class="padding clearfix">
          <p class="plogins bt-padding margin-lyte">Please mention the detail about the station that you want to transmit to SPCB</p>
        
        
            <div class="col-lg-6 col-md-12 col-sm-12 paddingnone">
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>Station Type </label>
              <div class="btn-group bootstrap-select" style="width: 150px;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="CEMS"><span class="filter-option pull-left">CEMS</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">CEMS</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">value 1</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">value 2</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker" data-width="150" tabindex="-98">
                <option>CEMS</option>
                <option>value 1</option>
                <option>value 2</option>
              </select></div>
            </div>
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>Parameter Name </label>
              <div class="btn-group bootstrap-select" style="width: 150px;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="PM"><span class="filter-option pull-left">PM</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">PM</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">value 1</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">value 2</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker" data-width="150" tabindex="-98">
                <option>PM</option>
                <option>value 1</option>
                <option>value 2</option>
              </select></div>
            </div>
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>Unit </label>
              <div class="btn-group bootstrap-select" style="width: 150px;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Mg/m3"><span class="filter-option pull-left">Mg/m3</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Mg/m3</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">value 1</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">value 2</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker" data-width="150" tabindex="-98">
                <option>Mg/m3</option>
                <option>value 1</option>
                <option>value 2</option>
              </select></div>
            </div>
            </div>
               
        
            <div class="col-lg-6 col-md-12 col-sm-12 paddingnoness">
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>Low Range</label>
              <input type="text" class="form-control" id="" value="0" placeholder="">
            </div>
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>High Range</label>
              <input type="text" class="form-control" id="" value="1000" placeholder="">
            </div>
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>Nomenclature</label>
              <div class="btn-group bootstrap-select" style="width: 150px;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Stack 1"><span class="filter-option pull-left">Stack 1</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Stack 1</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">value 1</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">value 2</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker" data-width="150" tabindex="-98">
                <option>Stack 1</option>
                <option>value 1</option>
                <option>value 2</option>
              </select></div>
            </div>
            </div>
            
            <div class="col-lg-6 col-md-12 col-sm-12 paddingnone">
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>Location </label>
              <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>Attached to </label>
              <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group col-md-4 col-sm-4 formdesg2">
              <label>Output </label>
              <input type="text" class="form-control" id="" value="RS232" placeholder="">
            </div>
          </div>
               <div class="col-lg-6 col-md-12 col-sm-12 paddingnoness">
            <div class="form-group col-md-12 col-sm-12 formdesg2">
              <button class="btn btn-designs">Add</button>
              <button class="btn btn-designs2">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
