
    <div class="clearfix">
      <div class="col-lg-8 col-md-12 col-sm-12 paddingnone">
        <div class="right bt-marginlr clearfix">
          <div class="padding clearfix">
            <div class="col-md-6 col-sm-12">
              <h1 class="h1login">Users</h1>
              <p class="plogins">The below are the details for plants.</p>
            </div>
            <div class="col-md-6 margintp col-sm-12">
              <form role="search ">
                <div class="form-group col-md-10 paddingl-none col-xs-10">
                  <input type="text" placeholder="Search User Name/ User Id" class="form-control">
                </div>
                <div class="col-md-2 col-xs-2 paddingnone clearfix">
                  <button type="submit" class="btn btn-default btn-search">Go</button>
                </div>
              </form>
            </div>
          </div>
          <div class="borders paddingtp table-responsive dashboard-grid">
         <!--    <table class="table tabledesg">
              <thead>
                <tr>
                  <th class="fv">  Plant Name    </th>
                  <th> Region </th>                                                                                                  
                  <th> No. of Users </th>
                  <th> No. of Stations </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="green fv"><a href="#">INDO POWER PLANT</a></td>
                  <td>Nirmal</td>
                  <td>5</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td class="green fv"><a href="#">SRI SAI PLANT</a></td>
                  <td>Nirmal</td>
                  <td>7</td>
                  <td>9</td>
                </tr>
              </tbody>
            </table> -->
            <div id="grid1" ui-grid="gridOptions" ui-grid-pagination style="height:300px;"></div>
          </div>
        </div>
        <!-- <div class="col-lg-12 col-md-12 paddingnone clearfix">
          <div class="col-lg-5 col-md-5 pull-right clearfix">
            <div class="pull-right paddingnone clearfix">
              <nav class="text-right">
                <ul class="pagination marginone">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">250</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pull-right clearfix">
            <ul class="list-unstyled list-inline text-right">
              <li class="spanpa" >Records per page</li>
              <li >
                <select class="selectpicker spanpa" data-width="70">
                  <option>2</option>
                  <option>5</option>
                  <option>7</option>
                </select>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 clearfix" ng-hide="true">
        <div class="right padding">
          <p class="psearch">Search</p>
          <div class="marginsearch clearfix">
            <form role="search">
              <div class="form-group col-md-10 paddingl-none col-xs-10">
                <input type="text" class="form-control" placeholder="Search Plant Name / Plant ID / User Id">
              </div>
              <div class="col-md-2 col-xs-2 paddingnone clearfix">
                <button class="btn btn-default btn-search" type="submit">Go</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
