@charset "utf-8";
/* CSS Document */

body {
	font-family: 'opensans-regular';
	background: #f1f1f1;
	overflow-x: hidden;
	font-size: 12px;
}
.margin-login {
	margin: 77px 0;
}
.backlogin {
	background: #fff;
	margin: 25px 0;
	border: 1px solid #CCC;
	padding:0;
}
.dashboard-grid * > .ui-grid-top-panel{
		height:75px !important;	
	}

.logo{
	margin: 0 0 0 15px;
	}

.logo{
	margin: 0 0 0 15px;
	}
.logo2{
	margin: 0 0 0 30px;
	}
.h1login {
	/*font-family: 'open-sanslight';*/
	font-weight: lighter;
	font-size: 36px;
	margin: 7px 0;
}
.plogins {
	font-size: 11px;
	margin: 2px 0;
}
.formdesg label, .spanpa {
	font-size: 12px;
	font-family: 'open-sanssemibold';
}
.formdesg .form-control {
	border-radius: 0;
	height: 43px;
}
.form-control:focus {
	border:1px solid #fab702;
	box-shadow: none;
}
.margin {
	margin: 25px 0;
}
.margintp {
	margin-top: 25px;
}
.margintps {
	margin-top: 15px;
}
.margins {
	margin: 35px 0;
}
.paddingnone {
	padding: 0;
}
.paddingl-none {
	padding-left: 0;
}
.paddingnr-none {
	padding-right: 0;
}
.padding {
	padding: 25px;
}
.paddingtp {
	padding-top: 25px;
}
.marginone {
	margin: 0;
}
.margin-lyte {
	margin: 12px 0;
}
.marginb-none {
	margin-bottom: 0;
}
.btn-design {
	background: #39c82d;
	color: #fff;
	border-radius: 0;
	padding: 10px 50px;
	height: 43px;
	border: 1px solid #39c82d;
	font-family: 'open-sanssemibold';
}
.btn-design:hover, .btn-design:focus{
	background: #fff;
	color: #000;
}
.btn-designsn {
	background: #39c82d;
	color: #fff;
	border-radius: 0;
	text-align: center;
	padding:10px 15px;
	min-height: 43px;
	border: 1px solid #39c82d;
	font-family: 'open-sanssemibold';
}
.btn-designsn:hover, .btn-designsn:focus{
	background: #fff;
	color: #000;
}
.forgotpass {
	font-size: 12px;
	color: #000;
	line-height: 3;
	text-decoration: none;
}
a {
	outline: none !important;
	text-decoration: none !important;
}
.border {
	border-top: 1px solid #ddd;
}
.forgotps {
	font-size: 12px;
	color: #000;
}
.registera {
	font-family: 'open-sansbold';
	color: #39c82d;
	font-size: 12px;
}
.leftp {
	font-family: 'open-sansbold';
	color: #000;
	font-size: 12px;
	margin: 5px 0
}
.leftsmallp {
	font-size: 12px;
	margin: 5px 0;
	color: #000;
}
a:focus, a:hover {
	cursor: pointer;
	color: #343434;
}
.navs {
	text-align: right;
	padding: 0 5px;
}
.navs li {
	margin-left: 25px;
}
.navs li a {
	color: #000;
	font-size:14px;
}
.navs li a:hover, .navs li a:hover {
	color: #343434;
}
.white {
	background: #fff;
}
.bodytag {
	padding:0 25px;
}
.bt-margin {
	margin: 15px 0;
}
.left {
	margin: 15px 0;
	padding: 25px;
	background: #fff;
	border: 1px solid #ccc;
}
.lefts{
	margin: 15px 0;
	background: #fff;
	border: 1px solid #ccc;
	}
.paddings{
	padding: 25px 25px 15px 25px;
	}
.right {
	margin: 15px 0;
	background: #fff;
	border: 1px solid #ccc;
}
.margin-lite {
	margin: 7px 0;
}
.plleft {
	border-right: 1px solid #ccc;
	padding: 25px;
}
.plright {
	padding: 25px;
}
.borders {
	border-top: 1px solid #ddd;
	margin: 10px 0 0 0;
}
.formdesg2 {
	padding-left: 0;
	margin: 15px 0;
}
.formdesg2 label {
	width: 100% !important;
	font-size: 12px;
	font-family: 'open-sanssemibold';
}
.formdesg2 .form-control {
	border-radius: 0;
	height: 43px;
}
.formdesg2 .btn-designs2, .formdesg2 .btn-designs {
	margin: 22px 0 0px 0;
}
.formdesg2 h4{
	font-family: 'open-sanssemibold';
	color: #000;
	}
.form-control:focus {
	border:1px solid #fab702;
	box-shadow: none;
}
.tabledesg {
	text-align: center;
	margin: 0;
}
.tabledesg thead tr th {
	font-size: 12px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-family: 'open-sanssemibold';
}
.tabledesg tbody tr td {
	padding: 20px 0;
	vertical-align: center;
	font-size: 12px;
}
.fa-times {
	background: #ff0000;
	border-radius: 50%;
	color: #fff;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	width: 19px;
}
.btn-designs {
	background: #39c82d;
	color: #fff;
	border-radius: 0;
	height: 43px;
	padding: 10px 25px;
	border: 1px solid #39c82d;
	font-family: 'open-sanssemibold';
}
.btn-designs:hover, .btn-designs:focus {
	background: #fff;
	color: #000;
}
.btn-designs2 {
	background: #fab702;
	color: #fff;
	border-radius: 0;
	height: 43px;
	padding: 10px 25px;
	border: 1px solid #fab702;
	font-family: 'open-sanssemibold';
}
.btn-designs2:hover, .btn-designs2:focus {
	background: #fff;
	color: #000;
}
.btn, .form-control {
	min-height: 43px;
	border-radius: 0;
	font-size: 12px;
}
.fa-times:hover, .fa-times:focus {
	color: #ff0000;
	padding: 3px;
	border: 1px solid #ff0000;
	background: #fff;
}
.marginbtm {
	margin-bottom: 25px;
}
.btn-modify{
	font-family: 'open-sanssemibold';
	padding: 10px 28px;
	font-size:14px;
	background: #fab702;
	border: 1px solid #fab702;
	color: #fff;
	}
.btn-modify:hover, .btn-modify:focus, .btn-upload:hover, .btn-upload:focus, .btn-stop:hover, .btn-stop:focus  {
	background: #fff;
	color: #343434;
}
.btn-upload{
	font-family: 'open-sanssemibold';
	padding: 10px 28px;
	font-size:14px;
	background: #39c82d;
	border: 1px solid #39c82d;
	color: #fff;
	}
.btn-stop{
	font-family: 'open-sanssemibold';
	padding: 10px 28px;
	font-size:14px;
	background: #ff0000;
	border: 1px solid #ff0000;
	color: #fff;
	}
.h1large{
	font-family: 'open-sansbold';
	font-size: 60px;
	font-weight:bolder;
	color: #000;
	text-align: center;
	margin: 7px 0 2px 0; 
	padding: 15px 0 2px 0;
	border-top: 1px solid #ddd;
	}
.psearch{
	font-size: 12px;
	margin: 0;
	padding:0 0 5px 0;
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
	}
.marginsearch{
	margin: 27px 0 0 0;
	}
.btn-search{
	background: #39c82d;
	font-family: 'open-sansbold';
	border: 1px solid #39c82d;
	color: #fff;
	padding: 10px 15px;
	text-transform: uppercase;
	}
.btn-search:hover, .btn-search:focus {
	background: #fff;
	color: #000;
	border: 1px solid #39c82d;
}
.green{
	color: #39c82d;
	}
.fv{
	text-align: left !important;
	padding-left: 40px !important;
	}
.fv > a{
	color: #39c82d;
	}
.fv > a:hover{
	text-decoration:underline !important;
}
.wdtab{
	width: 180px;
	}
.bt-padding {
	padding:0 15px;
	}
.bt-marginlr {
	margin:15px;
	}
.pagination li a{
	font-family: 'open-sanssemibold';
	margin:0 2px;
	color: #000;
	padding: 12px 15px;
	border-radius: 0px !important;
	}
.bredcm{
	margin: 15px 0;
	}
.bredcm li a{
	font-family: 'open-sanssemibold';
	color: #000;
	}
.list-group{
	margin: 0;
	}
.list-group-item{
	border-radius: 0 !important;
	border-left: none;
	border-right: none;
	border-bottom: none;
	background: #fff !important;
	padding: 15px 25px;
	font-size: 14px !important;
	font-family: 'open-sansbold';
	}
.list-group-item:hover, .list-group-item:focus{
	background: #fff;
	font-family: 'open-sansbold';
		color: #39c82d !important;
	}
.green-active{
	color: #39c82d !important;
	font-family: 'open-sansbold';
	font-size: 14px;
	}
.green-active .fa-caret-right{
	color: #39c82d !important;
	font-size: 18px !important;
	vertical-align: bottom;
}
.no-active{
	padding-left: 38px;
	}
.paddingg{
	padding:40px 50px;
	}
.paddingnoness{
	padding:0 15px;
	}

 @media screen and (max-width: 767px) {
.paddingl-none {
 padding-left: 15px;
}
.paddingnr-none {
 padding-right: 15px;
}
}
@media screen and (max-width: 1199px) {
.btn-group.bootstrap-select, .bootstrap-select > .dropdown-toggle {
	width: 100% !important;
	}
.paddingnoness{
	padding:0;
	}

}
@media screen and (max-width: 1370px) {
.bootstrap-select > .dropdown-toggle{
	width: 70%;
	}
.spanpa > .dropdown-toggle{
	}
}
@media screen and (max-width: 1024px) {
.bodytag {
 padding:0;
}
}
@media screen and (max-width: 450px) {
.btn-designsn {
	padding: 10px;
}
.paddingg{
	padding: 15px;
	}
.widfull{
	width: 100%;
	}
}
@media screen and (max-width: 450px) {
.btn-modify, .btn-upload, .btn-stop{
	padding: 10px; 
	}
}
