<div class="col-md-12 col-sm-12 white clearfix">
  <nav>
    <div class="col-md-3 col-xs-3 margin"> <img src="img/logo.png" alt="logo" class="img-responsive logo"> </div>
    <div class="col-md-9 col-xs-9 margins">
      <ul class="navs list-inline marginb-none">
        <li><a href="#">Welcome, Admin</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>