<div class="margin-login clearfix">
  <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-sm-offset-3 col-xs-offset-1 clearfix"> <img class="img-responsive center-block" alt="logo" src="themes/default/images/logo.png">
    <div class="backlogin clearfix">
      <div class="paddingg">
        <h1 class="h1login">Hello!</h1>
        <p class="plogins">Please login to RT-DAS with your credentials.</p>
        <form id="registration" class="margintp">
          <div class="form-group formdesg">
            <label for="exampleInputEmail1">User Name</label>
            <input type="email" class="form-control" id="" name="um" required placeholder="">
          </div>
          <div class="form-group formdesg">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="" name="ps" required placeholder="">
          </div>
          <button type="submit" class="btn btn-design">Login</button>
          <a href="#" class="forgotpass clearfix">Forgot passowrd?</a>
        </form>
      </div>
      <div class="border paddingg"> <a href="#" class="forgotps">Don't have an account? </a><span><a class="registera" href="/registration"> Register now </a></span> </div>
    </div>
  </div>
</div>